<div class="text-right">
  <button id="add-artwork-button" class="btn btn-lg" ui-sref="artwork">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Artwork
  </button>
</div>
<div class="text-center">
  <h1>Art of Ling Mei</h1>
  <br>
  <br>
  <ul id="artwork-display">
    <li ng-repeat="item in artworkList">
      <a href="{{ item.url }}" target="_blank"><img ng-src="{{ item.url }}"></a>
      <a href="" ng-click="delete(item._id)">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <br>
      <br>
    </li>
  </ul>

  <br>
  <br>

  <span id="load-more-button" ng-show="true" ng-click="loadMore()">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    Load More
  </span>
</div>

