<div ng-if="loggedIn" class="row">
  <br>
  <br>
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <form id="add-artwork-form" ng-submit="create()">
      <label>Image File</label>
      <br>
      <input type="file" ngf-select ng-model="file" name="file" accept="image/*" required>
      <br>
      <label>Artwork Name</label>
      <input class="form-control" ng-model="name" placeholder="Artwork Name" required>
      <br>
      <br>
      <button type="submit" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add
      </button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
